# Email Configuration
EMAIL_ACCOUNT="moin.seo19@gmail.com"
EMAIL_PASSWORD="hgiuktbyfhqhcuuz"
IMAP_SERVER="imap.gmail.com"

# AI Configuration (Gemini & HuggingFace)
GEMINI_API_KEY="AIzaSyCYAPnIGvd7BsXjSGCwBystLvlGwikRNB8"
HUGGINGFACE_API_KEY="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"
DEEPSEEK_API_KEY="sk-333e4571b5ff48419a738aa01e5fd743"
# WhatsApp Configuration (Meta Cloud API)
META_ACCESS_TOKEN="EAAQznV068mQBRdNEhFDATglOZAVb0vquqCOxTbqlTCDZC369QZCKNBPjCfUZBHgJr9aCId17nYFUoTXkQjw5ZCMGS1r4M6YqRs1CaDHYQaOEX7gIqELJaehHibSCKTagP4zL8ikFZAIJRHZBT9L8Ffna3vjfOPfZChG25jF4KBuy87B5hntQMRSEhJezzmRUnKjYX3UPz3LJeXqVGXYC6Vy78YVNTCSd2MGZAUJgYCjX8IfqGknn1wOPBW6Xs5q6OwPK9Ey7ZBa7bmpgtptSo9MgVWVkMX"
META_PHONE_NUMBER_ID="1065784179955300"
# Multiple numbers: comma separated (no spaces), country code without +
YOUR_WHATSAPP_NUMBERS="923056646767"  # <-- dusra number yahan add karein
